body {
	font-family: 'Raleway', sans-serif;

	width:100%;
	margin:0;
	padding:0;
	overflow:hidden;
	
}

a {
	text-decoration: none;
}

#intro{
	background-color:gold;
	color:white;
	text-align:center;
	padding:20px 0;
	font-weight:100;
	font-size:2.75em;
	
}

.bold{
	font-weight:400;
	font-size:1.1em;
}


.social_media{
	width:25px;
	height:25px;
	display:inline-block;
	margin-right:40px;
}

.social_media:hover{
	opacity:0.7;
}

#twitter{
	background:url('twitter.png') no-repeat center center;
	background-size:contain;

}

#linked{
	background:url('linked.png') no-repeat center center;
	background-size:contain;
}

#git{
	background:url('git.png') no-repeat center center;
	background-size:contain;
	width:30px;
	height:24px;
	margin-right:0;
}

.icons{
	width:184px;
	margin:0 auto;
}


.smaller{
	font-size:0.5em;
}

.carousel_background{
	background:url('carousel-backdrop.jpg') no-repeat center center;
	background-size:cover;
	width:100%;
	height:100%;
	/*background-attachment:fixed;*/
}

.carousel_background:before{
	content:"";
	height:100%;
	background:#000080;
	width:100%;
	position:absolute;
	opacity:0.6;
}

/*.carousel{
	padding:75px 0 0 0;
	height:500px;
	border-radius:10px;
}*/
/*
.slick-next {
	right: 5px !important;
}

.slick-prev {
	left: 5px !important;
}*/

.pane{
	/*border:5px solid white;*/
	position:relative;
	margin:0 auto;
	/*width: 30%!important;*/
	height: 450px;
	border-radius:10px;
	display:none;
}

#under_her_skin{
	background:url('under_her_skin.png') no-repeat center center;
	background-size:contain;	
	/*border:5px solid white;*/
	/*border-radius:5px;*/
}

#room_visit{
	background:url('room_visit.png') no-repeat center center;
	background-size:contain;	
}

.active{
	display:block;
}

