body {
	font-family: 'Raleway', sans-serif !important;
	color:white !important;
	width:100%;
	margin:0;
	padding:0;	
}


a { text-decoration: none }

h2{ margin:0 }

#intro{
	background-color:gold;
	text-align:center;
	padding:20px 0;
	font-weight:100;
	font-size:2.75em;
}

.bold{
	font-weight:400;
	font-size:1.1em;
}


.social_media{
	width:25px;
	height:25px;
	display:inline-block;
	margin-right:40px;
}

.social_media:hover{
	opacity:0.7;
}

#twitter{
	background:url('twitter.png') no-repeat center center;
	background-size:contain;
}

#linked{
	background:url('linked.png') no-repeat center center;
	background-size:contain;
}

#git{
	background:url('git.png') no-repeat center center;
	background-size:contain;
	width:30px;
	height:24px;
	margin-right:0;
}

.icons{
	width:184px;
	margin:0 auto;
}

.col-lg-2{
	font-weight:100;
}

.smaller{
	font-size:0.5em;
}

.carousel_background{
	background:url('carousel-backdrop.jpg') no-repeat center center;
	background-size: cover;
	width:100%;
	height:600px;
	background-attachment:fixed;
}

.carousel_background:before{
	content:"";
	height:600px;
	background:#000080;
	width:100%;
	position:absolute;
	opacity:0.6;

}

.carousel-inner{
	/*margin-top:50px;*/
			padding:20px;

}

.item h3{
	font-weight:100;
}

.item img{
	border: 5px solid black;
	border-radius:3px;
}

.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-prev, .carousel-control .icon-next {
	margin-top:50px !important;
}